body {
    background-color: pink;
}
h1   {
color: saddlebrown;
}
 p  { 
color: seagreen;
}

.firstsection {
    color: darkblue;
    font-size: 40px;
}
.secondparagraph {
    color: darkred;
    font-size: 40px;
}

#lastparagraph {
    color: crimson;
    font-size: 40px;
}

